.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    top: 0;
    background-image: url(./imgs/download.png);
    color:#fff
}
.logo{
    position: fixed;
    top:32px;
    left: 12px;
}
