.app-itemsContainer {
    scroll-snap-type: y mandatory;
    overflow: auto;
    height: 100vh;
}
.logo{
    position: fixed;
    top:20px;
    left: 12px;
}

::-webkit-scrollbar {
    display: none;
}